
body{
    background-color: #efefef;
}
span.spacing{
    margin-right: 10px;
}
input.custom-width{
    width: 200px;
}
input.spacing{
    margin-right: 5px;
}


button {
  pointer: cursor;
}

input[type=file] {
  width: 400px;
  height: 130px;
  background: #6e9abf;
 }